.container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img {
  padding: 15px;
  margin: 20px;
  width: 120px;
  height: 80px;
  opacity: 0.5;
}
