.home-title {
    color: rgb(246, 245, 243);
    text-shadow: rgba(0, 0, 0, 0.25);
    font-family: "Akaya Kanadaka", cursive;
    font-weight: 400;
    font-size: 90px;
    justify-content: center;
    align-items: center;
  }