@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
.bienvenida {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #bdbdbd;
  width: 100%;
  height: 10vh;

  color: rgba(253, 140, 0, 1);
  text-shadow: rgba(0, 0, 0, 0.25);
  font-family: "Akaya Kanadaka", cursive;
  font-weight: bold;
  font-size: 45px;
}
