@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
body {
  background-color: rgba(28, 30, 32, 0.938);
}
.container {
  height: 100vh;
  background-image: url("../src/assets/hamburger.png");
  background-repeat: no-repeat;
  background-size: 50vh;
  background-position: center;
  display: flex;
  justify-content: center;
}
.container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 3.5vh;
}
.form-title {
  color: rgba(253, 140, 0, 1);
  text-shadow: rgba(0, 0, 0, 0.25);
  font-family: "Akaya Kanadaka", cursive;
  font-weight: 400;
  font-size: 90px;
}
.container-form {
  padding: 0px 20px 40px 20px;
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-control {
  display: flex;
  justify-content: space-evenly;
}
.btn-control input {
  width: 200px;
  color: #fff;
  background-color: rgba(253, 140, 0, 1);
  border: none;
  font-size: 20px;
  font-weight: bold;
}
